// .SearchBar .search-form {
//   float: left;
//   width: auto;
//   margin-right: 15px;
// }

// .SearchBar .opacity-0 {
//   opacity: 0;
//   transition: opacity 0.2s;
// }

// .SearchBar .opacity-1 {
//   opacity: 1.0;
//   transition: opacity 0.2s;
// }

// .wrap {

// }



.inputForm {
  font-size: 1.5rem;
  font-weight: 300;
  width: 38rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  outline: 0;
  border: none;
  box-sizing: border-box;
  color: #f3f3f7;
  text-shadow: 1px 1px 8px #888282; 
  background-color: rgba(236, 240, 245, 0.13);
  backdrop-filter: blur(10px) opacity(100) brightness(0.9);
  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
  &::placeholder {
    transition: opacity 0.2s ease-in;
    color: #f3f3f7;
  }
  
  @media only screen and (max-width: 567px) {
    & {
    font-size: 1.5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    }
  } 
}

::placeholder { 
  color: rgb(60, 62, 70);
  opacity: 1; 
}

.dropdown {
  position: relative;
  display: inline-block;
}


.SearchBar .search-alert {
  float: center;
  color: rgb(255, 0, 98);
  height: calc(3.5rem);
  padding-top: 0.8rem;
  margin: 0;
}

// .form {
//   // max-width:300px;
//   // height:50px;
//   // border-radius:2px;
//   // outline:0;
//   // margin-bottom:40px;
//   // background:#eee;
// }

// @media only screen and (max-width: 567px) {
//   // .SearchBar .search-form {
//   //   float: none;
//   // }

//   // .SearchBar .search-alert {
//   //   height: calc(2rem + 2px);
//   // }

//   // .SearchBar .opacity-0 {
//   //   height: 0;
//   //   padding-top: 0;
//   //   margin: 0;
//   // }

//   // .SearchBar .opacity-1 {
//   //   opacity: 1.0;
//   //   margin-top: 5px;
//   //   margin-left: 5px;
//   //   height: calc(2rem + 2px);
//   //   padding-top: 0.5rem;
//   //   transition: opacity 0.2s;
//   // }
// }
